<form [formGroup]="newAccount" >
    <h4>Create User Account</h4> 

    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="message != '' && typeAlert == 'danger' " >
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMsg()"> 
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message != '' && typeAlert == 'success' " >
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMsg()"> 
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="form-group">
        <label >First Name:</label>
        <input type="text" class="form-control" formControlName="firstName" 
        [ngClass]="{ 'is-invalid': newAccount.controls.firstName.errors && typeAlert == 'danger' }">
        <div *ngIf="newAccount.controls.firstName.errors && typeAlert == 'danger' " class="invalid-feedback">
            First Name is required!
        </div>                
    </div>  
    <div class="form-group">
        <label >Last Name:</label>
        <input type="text" class="form-control" formControlName="lastName" 
        [ngClass]="{ 'is-invalid': newAccount.controls.lastName.errors && typeAlert == 'danger' }">
        <div *ngIf="newAccount.controls.lastName.errors && typeAlert == 'danger' " class="invalid-feedback">
            Last Name is required!
        </div>                
    </div> 
    <div class="form-group">
        <label >Document Number:</label>
        <input type="text" class="form-control" formControlName="documentNumber">               
    </div> 
    <div class="form-group">
        <label >E-Mail:</label>
        <input type="email" class="form-control" formControlName="eMail" 
        [ngClass]="{ 'is-invalid': newAccount.controls.eMail.errors && typeAlert == 'danger' }">
        <div *ngIf="newAccount.controls.eMail.errors && typeAlert == 'danger' " class="invalid-feedback">
            E-Mail is required!
        </div>                
    </div> 
    <div class="form-group">
        <label >Password:</label>
        <input type="text" class="form-control" formControlName="password" 
        [ngClass]="{ 'is-invalid': newAccount.controls.password.errors && typeAlert == 'danger' }">
        <div *ngIf="newAccount.controls.password.errors && typeAlert == 'danger' " class="invalid-feedback">
            Password is required!
        </div>                
    </div> 
 
    <div class="form-group">
        <button type="submit" [disabled]="loading" class="btn btn-success" (click)="save()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create
        </button>
    </div>
</form>